header{
    background-color: blueviolet;
    margin: 10px 0px;
    padding: px 0px;
    border-radius: 20px;
}
header img{
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
}
header b{
    font-size: 20px;
    text-align: center;
}
nav{
   margin: 10px 0px;
   text-align: center;
}
nav a {
    padding-right: 60px;
    background-color: lavender;
    color: palevioletred;
    font-size: 16px;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 10px
   
}
.gg{
    background-color: rebeccapurple;
    color: white;
    text-decoration: white;
}
main h1{
    color: violet;
    text-align: center;
}
footer{
    background-color: violet;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid purple 3px;
    
}
.ff{
    color: white;
    font-size: 20px;
}
h2{
    color: violet;
}
main h2{
    text-align: center;
}
.hh{
    text-align: center;
    background-color: rgb(201, 164, 236);
    border-radius: 10px;
}
.dd{
    color: rgb(66, 37, 94);
    text-align: center;
}
.yy{
    font-size: 20px;
    color:rgb(158, 80, 152);
    text-align: center;
}
main p{
    text-align: center;
}
.aa{
    font-size: 20px;
    color: rgb(129, 77, 139);
}
.ee{
    background-color: rgb(180, 141, 218);
}
main p{
    background-color: rgb(199, 187, 209);
}
